.nav-header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(230, 228, 228);
  padding: 18px;
}

.sub-container {
  display: flex;
  width: 100%;
}
.nav-bar-large-container {
  display: flex;
  margin: 0px;
  padding-left: 0px;
}

@media screen and (max-width: 767px) {
  .nav-bar-large-container {
    display: none;
  }
}

.website-logo {
  width: 120px;
  height: 50px;
}

@media screen and (min-width: 768px) {
  .website-logo {
    width: 165px;
  }
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex: 1;
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0;
}

.nav-menu-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-menu-list-mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px 0 10px 0;
  position: fixed;
  width: -webkit-fill-available;
  background-color: #e4e4e4;
}
@media screen and (min-width: 768px) {
  .nav-menu-mobile {
    display: none;
  }
  .nav-menu-list-mobile {
    display: none;
  }
}

.nav-menu-item {
  font-family: "Roboto";
  margin: 10px;
  margin-right: 0px;
  font-weight: 400;
  font-size: 20px;
  list-style-type: none;
}

.nav-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  &.active {
    color: blue;
  }
  :hover {
    color: gray;
  }
}

.nav-menu-item-mobile {
  margin: 0px;
  cursor: pointer;
}

.nav-mobile-btn {
  border: none;
  padding: 0px;
  background: transparent;
  cursor: pointer;
  outline: none;
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .nav-mobile-btn {
    display: none;
  }
}

.sel-language {
  font-family: "Roboto";
  background-color: transparent;
  outline: none;
  border: none;
  color: #475569;
  font-size: 20px;
  /* margin-left: 10px; */
  font-weight: 400;
}
